.stats-content11 {
  width: 100%;
  height: 40px;
  background-color: transparent;
  /* backdrop-filter: blur(5px); */
  display: flex;
  justify-content: space-around;
  padding-left: 200px;
  padding-right: 100px;
  align-items: center;
  margin: 2px;
  border-bottom: 1px solid white;
}

.stats-content11 div {
  width: 25%;
}

.stats-content11 img {
  width: 20px;
  height: 20px;
}

/* #price {
  font-weight: bold;
  color: brown;
} */
