.main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
    width: 70vw;
    height: auto;
    background-color: purple;
  }
  .main-container h1{
    margin: 25px;
  }
  
  .card-container {
    display: flex;
    justify-content: space-around;  
    flex-wrap: wrap;  
  }
 
  
 
  @media (max-width: 768px) {
    .card {
      width: 45%;
    }
  }
  
  @media (max-width: 480px) {
    .card {
      width: 100%;  
    }
  }
  
